# Frontend Configuration
PORT=3000
SESSION_SECRET=your_secret_key_here
BACKEND_URL=http://localhost:3001/api/products

# Backend Configuration
# PORT=3001
MONGODB_URI=mongodb://127.0.0.1:27017/ecommerce
